#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**

- Some of the popular languages that Data Scientists use
- Some of the commonly used libraries used by Data Scientists
- Data Science Tools
- Evaluating arithmetic expressions in Python

#### Some of the popular languages that Data Scientists use are:
1. Python
2. C++
3. R
4. Julia
5. SQL

#### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy 
3. Seaborn
4. Matplotlib
5. PyTorch
6. TensorFlow

<div style="text-align:left">

| Data Science Tools |
----------------------
Jupiter Notebook
RStudio
Visual Studio Code
Atom

### Below are a few examples of evaluating arithmetic expressions in Python
+,  -,  =,  /,  >,  <,  *

In [3]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [1]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author
Javidan Mirzayev